<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gelin.dao.CronDao">

    <select id="findCron" resultType="com.gelin.domain.Cron">
        SELECT * FROM cron;
    </select>


</mapper>