<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gelin.dao.MarkersDao">

    <select id="findAll" resultType="com.gelin.domain.Markers">
        SELECT * FROM markers;
    </select>


</mapper>